<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--configuration核心配置文件-->
<configuration>

    <!--给类型取别名，可以在xxxMapper.xml映射文件中使用别名-->
    <typeAliases>
        <typeAlias type="com.kuang.pojo.User" alias="User"/>

    </typeAliases>
<!--    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis? useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root123"/>
            </dataSource>
        </environment>
    </environments>-->

<!--    &lt;!&ndash;每一个Mapper.xml都需要Mybatis核心配置文件中注册&ndash;&gt;-->
<!--    <mappers>-->
<!--        &lt;!&ndash;推荐第一种写法&ndash;&gt;-->
<!--        <mapper resource="com/kuang/mapper/UserMapper.xml"/>-->
<!--        &lt;!&ndash;<mapper class="com.kuang.dao.UserMapper"/>&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;下面这个写法，会把所有东西通配了&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;<mapper class="com/kuang/dao/*Mapper.xml"/>&ndash;&gt;-->
<!--    </mappers>-->
</configuration>